<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <script src="vue.js"></script>
    <title>Exercicios</title>
  </head>
  <body>
    <div id="app">
      <form class="form">
        <div class="input-container">
          <div>
            <label for="firstName">Nome: </label> <br />
            <input
              v-model="firstName"
              type="text"
              name="firstName"
              placeholder="Digite seu nome!"
            />
          </div>

          <div>
            <label for="firstName">Sobrenome: </label> <br />
            <input
              v-model="lastName"
              type="text"
              name="lastName"
              placeholder="Digite seu sobrenome!"
            />
          </div>
        </div>

        <div style="padding: 0px 20px">
          <span>Selecione o pais onde você nasceu: </span>
          <select name="countries" id="countries" v-model="countriesSelecteds">
            <option
              v-for="country in countries"
              :key="country.id"
              :value="country.name"
            >
              {{country.name}}
            </option>
          </select>
        </div>
        <br />
        <div style="margin-bottom: 20px; padding: 0 20px">
          <span> Seu nome completo é: <strong>{{fullName}}</strong> </span>
        </div>
        <br />
        <span style="margin-top: 10px; padding: 0 20px"
          >A capital do país onde você nasceu é: <strong>{{capital}}</strong>
        </span>
      </form>
    </div>

    <script>
      const vm = new Vue({
        el: "#app",
        created() {
          fetch("https://restcountries.com/v2/all")
            .then((res) => res.json())
            .then((res) => (this.countries = res));
        },
        data() {
          return {
            firstName: "",
            lastName: "",
            countries: {},
            countriesSelecteds: "",
            capital: "",
          };
        },
        computed: {
          fullName() {
            return this.firstName + " " + this.lastName;
          },
        },
        watch: {
          countriesSelecteds(value) {
            const capitalOfCountry = this.countries.find(
              (pais) => pais.name === value
            );
            this.capital = capitalOfCountry.capital;
          },
        },
      });
    </script>
  </body>
</html>
<style>
  body {
    background: #05295c;
  }
  .form {
    width: 27rem;
    height: 20rem;
    margin: 150px auto;
    background-color: #8faeda34;
    color: #fff;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  }
  .input-container {
    display: flex;
    justify-content: space-between;

    padding: 10px 20px;
  }
  input {
    border: none;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 10px;
  }
</style>
