<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <script src="vue.js"></script>
    <title>Watch Assincrono</title>
  </head>
  <body>
    <div id="app">
      <input v-model="cep" type="text" placeholder="cep" maxlength="8" />
      <p>Meu endereço é: <br>
       <ul>
        <li v-for="(value, key) in adress">
         {{key}}: {{value}}
        </li>
       </ul>
    </div>

    <script>
      const vm = new Vue({
        el: "#app",
        data() {
          return {
            cep: "",
            adress: {},
          };
        },
        watch: {
          cep(value) {
            if (value.length === 8) {
              fetch(`https://viacep.com.br/ws/${value}/json/`)
                .then((res) => res.json())
                .then(res => {
                    this.adress = res
                });
            }
          },
        },
      });
    </script>
  </body>
</html>
